body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

form>div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #0056b3;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="button"] {
    background-color: #ff000d;
}



ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li button {
    margin-left: 10px;
}

.recette-form,
.ingredient-form {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recette-form h2,
.ingredient-form h2 {
    margin-top: 0;
    color: #343a40;
}

.ingredient-list {
    margin-top: 20px;
}

.ingredient-list .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.ingredient-list .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
}

.ingredient-list .card:hover {
    transform: scale(1.05);
}

.ingredient-list .card h3 {
    margin-top: 0;
    color: #333;
}

.ingredient-list .card p {
    color: #666;
}

.ingredient-list .card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.ingredient-list .card-buttons button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
}

.ingredient-list .card-buttons button:first-child {
    background-color: #007bff;
    color: #fff;
}

.ingredient-list .card-buttons button:last-child {
    background-color: #ff0000;
    color: #fff;
}

.ingredient-list .card-buttons button:hover {
    opacity: 0.9;
}